#appbg {
    position: relative;
    width: 300px;
    height: 420px;
    border: 2px solid green;
    border-radius: 5px;
}

#appbg form {
    width: 100%;
    height: 420px;
    position: relative;
    background-color: rgb(0, 0, 0);
}

#appbg input[ type=texfield] {
    width: 253px;
    height: 9%;
    cursor: default;
    font-family: 'roboto', sans-serif;
    background-color: rgba(0, 0, 0);
    color: chartreuse;
    padding: 15px;
    margin: 5px 5px;
    text-align: right;
    font-size: 50px;
    outline: none;
    border: rgb(45, 119, 18) solid;
}


#appbg input[type=button],
input[type=reset] {
    width: 22%;
    cursor: pointer;
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    font-size: 26px;
    color: black;
    padding: 18px;
    margin: 3px;
    border: 0;
    border-radius: 100%;
   
}

#appbg .green {
    background-color: rgb(45, 119, 18) !important;
    color: white !important
}

#appbg .gray {
    background-color: rgb(51, 51, 51) !important;
    color: white !important;
}